* {
    margin: 10px;
}

.cabecalho-geral {
    background-color: rgba(131, 114, 114, 0.699);
}

.titulo-cabecalho {
    color: rgb(0, 0, 0);
    font-size: 69px;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
}

.lista-secao {
    padding: 10px;
    font-size: 20px;
}

.tit-1-secao {
    color:green;
    font-size: 40px;
    font-family: fantasy;
}

.tit-2-secao {
    color: yellow;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
}

.p-tit-1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.p-tit-2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.item-1 {
    color: rgb(220, 4, 248);
}

.item-2 {
    color: rgb(255, 0, 0);
}

.item-3 {
    color: rgb(0, 255, 200);
}

.item-4 {
    color: rgb(228, 253, 1);
}

.item-5 {
    color: rgb(61, 255, 12);
}

.secao {
    background-color: purple;
}

.rodape {
    background-color:red;
    padding: 10px;
    color: rgb(41, 14, 160);
}
